

.section{
    width: 95vw;
    margin: 0 auto 10vh auto;
    background-color: var(--black-nuance);
    border-radius: 10px;

    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 98vw;
    }
}



.sectionCard{
    display: flex;
    padding: 20px;
    min-height: 85vh;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 568px){
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 10px;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        min-height: fit-content;

    }

}



.h2{
    font-family: var(--title-font2), sans-serif;
    font-size: var(--title-size);
    height: 15vh;
    padding-left: 1em;


}
