

.section{
    width: 95vw;
    margin: 0 auto 8vh auto;
    background-color: var(--black-nuance);
    border-radius: 10px;
}



.sectionCard{
    display: flex;
    padding: 20px;
    min-height: 85vh;
    align-items: flex-start;
    justify-content: center;

}



.h2{
    font-family: var(--title-font2), sans-serif;
    font-size: var(--title-size);
    height: 15vh;
    padding-left: 1em;


}
