.sectionCard{
    position: relative;
    width : fit-content;
    margin : auto;
    min-height: 75vh;
    cursor:pointer;
    text-decoration: none;

}

.figure {
    position: relative;
    width: 20vw;
    height: 50vh;
    @media screen and (max-width: 568px){
        width: 80vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){


    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        width: 24vw;

    }


}

.image {
    object-fit: cover;
    border-radius: 30px;
}

.sectionLink{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width:20vw;
    padding : 1vh 1vw;
    align-items: center;
    @media screen and (max-width: 568px){
        width: 80vw;

    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 40vw;

    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        width: 24vw;


    }

}

.type {
    border-radius: 10px;
    background-color: var(--black-nuance);
    font-family: var(--title-font2), sans-serif;
    padding: 0.2vh 0.3vw;
    color: var(--white-pure);
    @media screen and (max-width: 568px){
        padding: 0.5vh 1vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        padding: 0.5vh 1vw;

    }

}
.sectionCard .type {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform .3s ease-in-out;

}
.sectionCard:hover  .type{
    opacity: 1;
    transform: translateY(0);

}

.sectionCard .arrow{
    background-color: var(--black-nuance);
    border-radius: 50%;
    color: var(--white-platinium);
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;

}

.sectionCard:hover .arrow{
    color: var(--beige-orange);
    transform: rotate(-45deg);

}

.sectionInfo{
    padding : 0.5em 1em;
    color: var(--white-pure);
    font-weight: bold;
    width: 19vw;



}
.h2{
    font-size: 2em;
    letter-spacing: 0.1em;
    width: 20vw;
    font-family: var(--title-font2), sans-serif;
    color: var(--beige-orange);
    @media screen and (max-width: 568px){
        width: 80vw;

    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 40vw;

    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        width: 24vw;


    }
}

.syno{
    font-size: 1.5em;
    letter-spacing: 0.1em;
    width: 20vw;
    font-family: var(--title-font2), sans-serif;
    font-weight: lighter;

    @media screen and (max-width: 568px){
        width: 80vw;

    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 40vw;

    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        width: 23vw;

    }
}