
.aboutSection {
    width: 40vw;
    margin: auto;
    height: 70vh;
    @media screen and (max-width: 375px){
        width: 90vw;
        height: fit-content;
        min-height: 80vh;
    }
    @media screen and (min-width: 375px) and (max-width: 568px){
        width: 90vw;
        height: fit-content;
        min-height: 80vh;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 70vw;
        height: fit-content;
        min-height: 80vh;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        width: 60vw;
        height: fit-content;
        min-height: 80vh;
    }
}

/*.title {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

.h2{
    font-family: var(--title-font2 ), sans-serif;
    color : var(--grey-davy);
    text-transform : uppercase;
    font-size: 1em;
    letter-spacing: 2px;

}

.figure{
    position: relative;
    width: 5vw;
    height: 5vw;
}

.article {
    font-family: var(--title-font3), sans-serif;
    font-weight: 400;
    color : var(--white-pure);
    width: 40vw;
    margin: auto;
    padding :  3vh 0;
    line-height: 1.4em;
    font-size: 1.8em;
    @media screen and (max-width: 375px) {
        line-height: 1.4em;
        width: 90vw;
        font-size: 1.2em;
    }
    @media screen and (min-width: 375px) and (max-width: 568px){
        line-height: 1.4em;
        width: 90vw;
        font-size: 1.2em;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        line-height: 1.4em;
        width: 70vw;
        font-size: 1.6em;

    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        line-height: 1.4em;
        width: 60vw;
        font-size: 1.6em;

    }

}

.article:nth-child(3){
    padding: 0 0;
}

.article:last-child{
    padding: 3vh 0;
}

.article strong {
    color: var(--beige-orange);
}

