
.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw;
    border: 1px solid var(--black-nuance);
    border-radius : 10px;
    background-color: var(--black-nuance);
    margin: 10vh auto;

}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.figure{
    position: relative;
    width: 10vw;
    height: 10vh;

}

.image {
    object-fit: contain;
    transform: rotate(20deg);
}

.h2 {
    font-family: var(--title-font2), sans-serif;
    color : var(--white-platinium);
    font-size: 6em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}


.article {
    font-family: var(--paragraph-font), sans-serif;
    color : var(--white-platinium);
    width: 80vw;
    margin: auto;
    padding :  5vh 0;
    line-height: 1.8em;
    z-index: 4;
}

.article strong {
    color: var(--beige-orange);
}