
@font-face {
  font-family: 'neue';
  src: url('/fonts/NeueBold.ttf');
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root{
  --beige-orange : #FCD946;
  --white-platinium : #DDE2E4;
  --white-pure : #ffffff;
  --grey-davy : #535A64;
  --blue-coin : #181E29;
  --red : #E55139;
  --title-size : 4em;
  --black-nuance : #161616;
  --title-font2 : "neue", sans-serif;
}

body{

  animation: gradientAnimation 24s ease infinite;
}

@keyframes gradientAnimation {
  0%   { background-color: #C6A32A; }
  20%  { background-color: #000000; }
  40%  { background-color: #6277B6; }
  60%  { background-color: #C69E2F; }
  80%  { background-color: #070E07 }
  100% { background-color: #C5844A }
}






