.header {
    position: relative;
    width: 80vw;
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left : 5vw;
    margin-top: 15vh;

    @media screen and  (max-width: 568px){
        width: 90vw;
        min-height: 80vh;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 90vw;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        min-height: 90vh;
    }
}


.h1{
    font-family: var(--title-font4), sans-serif;
    line-height: 0.95;
    color : var(--white-platinium);
    font-size : 10em;
    @media screen and (max-width: 375px){
        font-size : 2.5em;
        text-align: center;
    }

    @media screen and (min-width: 375px) and (max-width: 568px){
        font-size : 3.5em;
        text-align: center;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        font-size :4.5em;
        text-align: center;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        text-align: center;
    }
}
.h1b{

    color : var(--beige-orange);
    font-size : 10em;
    font-family: var(--title-font4), sans-serif;
    letter-spacing: 0.025em;
    line-height: 0.85;

    @media screen and (max-width: 375px){
        font-size : 2.5em;
        text-align: center;
    }

    @media screen and (min-width: 375px) and (max-width: 568px){
        font-size : 3.5em;
        text-align: center;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        font-size :4.5em;
        text-align: center;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        text-align: center;
    }
}

.subtitle{
    font-family: var(--title-font2 ), sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
    gap: 16px;
    letter-spacing: 0.025em;
    color : var(--grey-davy);
    @media screen and (max-width: 375px){
        font-size : 2.5em;
        text-align: center;
    }

    @media screen and (min-width: 375px) and (max-width: 568px){
        font-size : 3.5em;
        text-align: center;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        font-size :4.5em;
        text-align: center;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        text-align: center;
    }
}

.subtitle::before {
    content: "";
    width: 64px;
    height: 2px;
    background: var(--beige-orange);

}

.videoWrapper{
    position: relative;
    width: 45vw;
    height: 50vh;
    border-radius: 20px;

    @media screen and  (max-width: 568px){
        width: 90vw;
        height: 32vh;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 85vw;
        height: 42vh;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px){
        width: 50vw;
        height: 45vh;
    }
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.article {
    width : fit-content;
    margin : auto;
    animation: bounceDown 1s ease-in-out infinite;
    color : var(--beige-orange);
}

@keyframes bounceDown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}