.header {
    position: relative;
    width: 80vw;
    min-height: 80vh;
    overflow: hidden;
    margin : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 568px){
        width: 90vw
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 90vw;
    }
}


.h3{
    color : var(--white-platinium);
    font-size : 6em;
    font-family : var(--title-font2), sans-serif;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 568px){
        font-size : 3.5em;
        text-align: center;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        font-size :4.5em;
        text-align: center;
    }
}


.video {
    width: fit-content;
    height: 55vh;
    border-radius: 20px;
    @media screen and (max-width: 568px){
        height: fit-content;
        width: 90vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
       height: fit-content;
        width: 80vw;

    }
}
