.section {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--black-nuance);
    z-index: 10;
    transform: translateX(-50vw);
    transition: transform 2s ease;
    overflow-x: hidden;
    padding : 2vh 0;
}

.div {
    display: flex;
    flex-direction: column;

}

.article {
    display: flex;
    justify-content: space-between;
    font-family: var(--title-font2), sans-serif;
}

.button {
    background-color: transparent;
    border: 3px solid var(--white-platinium);
    border-radius: 50%;
    color : var(--white-platinium);
    margin-right: 1em;
    cursor: pointer;
}

.article h1 {
    position: relative;
    left: 50%;
    color: var(--white-platinium);
    transform : translateX(-50%);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.info h2{
    font-family: var(--title-font2), sans-serif;
    color : var(--beige-orange)
}

.a {
    text-decoration: none;
    color: var(--white-platinium);
    font-family: var(--title-font2), sans-serif;
    border : solid 1px var(--white-platinium);
    padding : 0.5em 1em;
}

.open {
    animation: slideIn 1s ease-out forwards;
}
.close {
    animation:  slideOut 0.5s ease-out forwards;
}

.info {


    color : var(--white-platinium);
}

.p {
    color: red;
    z-index: 9999;

}

.figure {
    position: relative;
    width: 50vw;
    height: 35vw;

}

.image {
    object-fit: contain;
}









@keyframes slideIn {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50vw);
    }
}
