.section {
    display: flex;
    width: 100vw;
    gap: 5vw;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15vh;
    background-color: black;
    @media screen and (max-width: 568px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
    }


}

.form {
    color : var(--white-pure);
    width: 35vw;
    font-family: var(--paragraph-font), sans-serif;

    @media screen and (max-width: 568px) {
        width: 90vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px) {
        width: 42vw;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 42vw;

    }
}

.form fieldset {
    border: none;
}

.form label {
    font-size : 1.2em
}

.h2 {

    text-align: left;
    font-size: 6em;
    font-family: var(--title-font2), sans-serif;
    color:  var(--beige-orange);
    margin-bottom: 0.5em;
    @media screen and (max-width: 568px) {
        margin-bottom: 0;
        font-size: 3em;
        text-align: center;
    }

    @media screen and (min-width: 568px) and (max-width: 1024px) {

        font-size: 4em;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        font-size: 4.5em;

    }
}

.h3{
    text-align: left;
    font-size: 2em;
    font-family: var(--paragraph-font), sans-serif;
    color:  var(--white-pure);
    width: 35vw;
    line-height: 2em;
    @media screen and (max-width: 568px) {
        width: 90vw;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 5vh;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px) {
        width: 42vw;
        font-size: 1.4em;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 42vw;
        font-size: 1.5em;

    }
}




.info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.info div input {
    height: 5vh;

    transition: border-color 0.2s ease-in-out;
    border-color: var(--white-platinium);
    outline: none;
    background-color: black;
    border: none;
    border-bottom: 2px solid var(--white-pure);

    color: var(--white-pure);
    font-size: 1.4em;
}

.info div input::placeholder {
    color : var(--white-platinium);
}

.info div input:focus {
    border-color: var(--beige-orange);


}

.subject {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin : 2em 0;
    transition: all 0.2s ease-in-out;
}

.select {
    width: 100%;
    height: 5vh;
    transition: border-color 0.2s ease-in-out;
    border-color: var(--white-platinium);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--white-pure);
    background-color: black;
    color : var(--white-pure);
    font-size: 1.4em;
}

.select:focus {
    border-color: var(--beige-orange);

}

.message  {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}

.message textarea {
    height: 5vh;
    transition: border-color 0.2s ease-in-out;
    border: none;
    border-bottom: 2px solid var(--white-pure);
    outline: none;
    border-bottom: 2px solid var(--white-platinium);
    font-family: var(--paragraph-font), sans-serif;
    background-color: black;
    color: var(--white-pure);
    font-size: 1.4em;
}

.message textarea:focus {
    border-color:  var(--beige-orange);

}

.message textarea::placeholder {
    color : var(--white-platinium);
}

.button {

    margin : 2em 0;
    padding : 0.5em 1em;
    border-color: var(--beige-orange);
    color : var(--beige-orange);
    background-color: black;
    border-radius: 50px;
    font-family: var(--title-font2), sans-serif;
    font-size: 1.5em;

    @media screen and (max-width: 568px) {
        position : relative;
        left: 50%;
        transform: translateX(-50%);


    }


}