.section {
    display: flex;
    width: 100vw;
    gap: 5vw;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15vh;
    background-color: black;
}

.form {

    color : var(--white-pure);
    width: 25vw;
    font-family: var(--paragraph-font), sans-serif;

}

.form fieldset {
    border: none;
}

.form label {
    font-size : 1.2em
}

.h2 {

    text-align: left;
    font-size: 6em;
    font-family: var(--title-font2), sans-serif;
    color:  var(--beige-orange);
    margin-bottom: 0.5em;
}

.h3{
    text-align: left;
    font-size: 2em;
    font-family: var(--title-font2), sans-serif;
    color:  var(--white-pure);
    width: 22vw;
    line-height: 2em;
}




.info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.info div input {
    height: 5vh;

    transition: border-color 0.2s ease-in-out;
    border-color: var(--white-platinium);
    outline: none;
    background-color: black;
    border: none;
    border-bottom: 2px solid var(--white-platinium);

    color: var(--white-pure);
    font-size: 1.4em;
}

.info div input::placeholder {
    color : var(--white-pure);
}

.info div input:focus {
    border-color: var(--beige-orange);


}

.subject {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin : 2em 0;
    transition: all 0.2s ease-in-out;
}

.select {
    width: 100%;
    height: 5vh;
    transition: border-color 0.2s ease-in-out;
    border-color: var(--white-platinium);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--white-platinium);
    background-color: black;
    color: var(--white-pure);
    font-size: 1.4em;
}

.select:focus {
    border-color: var(--beige-orange);

}

.message  {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}

.message textarea {
    height: 5vh;
    transition: border-color 0.2s ease-in-out;
    border-color: var(--white-platinium);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--white-platinium);
    font-family: var(--paragraph-font), sans-serif;
    background-color: black;
    color: var(--white-pure);
    font-size: 1.4em;
}

.message textarea:focus {
    border-color:  var(--beige-orange);

}

.message textarea::placeholder {
    color : var(--white-pure);
}

.button {

    margin : 2em 0;
    padding : 1em 2em;
    border-color: var(--white-pure);
    color : var(--white-pure);
    background-color: black;
    border-radius: 50px;
    font-family: var(--title-font2), sans-serif;
    font-size: 1.5em;
}