.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 80vh;
    width: 23vw;
    background-color: var(--blue-coin);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.imageContainer{
    position: relative;
    width: 100%;
    min-height: 50vh;


}

.image {
    object-fit: cover;
}

.infoContainer{
    font-family: var(--paragraph-font),sans-serif;
    line-height: 1.5em;
    width: 20vw;
    color: white;
    font-weight: lighter;
}

.title{
    font-family: var(--title-font2),sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin : 1em auto;
    color: var(--beige-orange );
}


