.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 28vw;
    min-height: 60vh;
    background-color: var(--blue-coin);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    scroll-snap-align: start;

    @media screen and (max-width: 1024px) {
        width: 60vw;
    }

    @media screen and (max-width: 768px) {
        width: 80vw;
        min-height: fit-content;
    }
}

.card:hover {
    transform: scale(1.05);
}

.number {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
    font-family: var(--title-font2), sans-serif;
    font-size: 1.2em;
    color: var(--beige-orange);
    opacity: 0.8;
}

.imageContainer {
    position: relative;
    width: 100%;
    min-height: 38vh;
}

.image {
    object-fit: cover;
}

.infoContainer {
    font-family: var(--paragraph-font), sans-serif;
    line-height: 1.5em;
    color: white;
    font-weight: lighter;
    padding: 1.5em;
}

.title {
    font-family: var(--title-font2), sans-serif;
    font-size: 1.6em;
    margin-bottom: 0.5em;
    color: var(--beige-orange);
}

.description {
    opacity: 0.9;
}
