.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 80vh;
    width: 23vw;
    background-color: var(--blue-coin);
    transition: transform 0.3s ease-in-out;


    @media screen and (max-width: 375px){
        min-height: 110vh;
        width: 90vw;
        margin : 0;

    }
    @media screen and (min-width: 375px) and (max-width: 568px){
        min-height: fit-content;
        width: 90vw;
        margin : 0;

    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 43vw;

    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {

        min-height: 87vh;
    }

}

.card:hover {
    transform: scale(1.05);
}

.imageContainer{
    position: relative;
    width: 100%;
    min-height: 50vh;


}

.image {
    object-fit: cover;
}

.infoContainer{
    font-family: var(--paragraph-font),sans-serif;
    line-height: 1.5em;
    width: 20vw;
    color: white;
    font-weight: lighter;
    @media screen and (max-width: 568px){
        width: 80vw;
        padding : 10px;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px){
        width: 43vw;
        padding : 10px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 23vw;
        padding : 10px;
    }
}

.title{
    font-family: var(--title-font2),sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin : 1em auto;
    color: var(--beige-orange );
    @media screen and (max-width: 568px){

        margin : 0.5em auto;
    }
}


