.sectionCard {
    text-decoration: none;
}


/* remplace ton ancien .image { display: none } / :hover .image { display: block } */
.imageWrapper {
    position: fixed;
    z-index: 50;
    pointer-events: none;
    transform: translate(20em, -50%) scale(0.9);
    border-radius: 6px;
    overflow: hidden;
    transition: opacity 0.25s ease, transform 0.25s ease;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.sectionCard:hover .imageWrapper {
    transform: translate(1&0em, -50%) scale(1);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionInfo {
    width: 70vw;
    display: grid;
    height: 10vh;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.2em 0.2em;
    color: var(--white-pure);
    font-weight: bold;
    border-bottom: 1px solid white;
    opacity: 80%;
}

.h2 {
    font-size: 2em;
    letter-spacing: 0.1em;
    font-family: var(--title-font), sans-serif;
    text-align: left;
    width: 20vw;
    @media screen and (max-width: 568px) {
        width: 90vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px) {
        width: 43vw;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 24vw;
    }
}

.syno {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: var(--title-font3), sans-serif;
    font-weight: lighter;
    text-align: left;
    @media screen and (max-width: 568px) {
        width: 90vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px) {
        width: 45vw;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 23vw;
    }
}

.year {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: var(--title-font), sans-serif;
    font-weight: lighter;
    text-align: right;
    @media screen and (max-width: 568px) {
        width: 90vw;
    }
    @media screen and (min-width: 568px) and (max-width: 1024px) {
        width: 45vw;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 23vw;
    }
}